<div class="d-flex justify-content-evenly flex-wrap">
  <div class="mat-elevation-z3 m-3  p-5 ">
    <h1>Order Placing Screen</h1>
    <form #form="ngForm" (ngSubmit)="makeTransaction()" class="d-flex flex-column full-form"
          [formGroup]="orderForm">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Client ID</mat-label>
          <input (blur)="updateClient($event)" matInput type="text" formControlName="clientId">
          <mat-error *ngIf="orderForm.get('clientId')?.errors?.required">This Field is Required!</mat-error>
          <mat-error *ngIf="!orderForm.get('clientId')?.errors?.required&&orderForm.get('clientId')?.errors?.invalid">
            Please enter a Valid Client ID
          </mat-error>
        </mat-form-field>
        <mat-form-field matTooltipPosition="right" [matTooltip]="orderForm.get('clientName')?.value"
                        appearance="outline">
          <mat-label>Client Name</mat-label>
          <input matInput type="text" formControlName="clientName">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Instrument ID</mat-label>
          <input (blur)="updateInstrument()" matInput type="text" formControlName="instrumentId">
          <mat-error *ngIf="orderForm.get('instrumentId')?.errors?.required">This Field is Required!</mat-error>
          <mat-error
            *ngIf="!orderForm.get('instrumentId')?.errors?.required&&orderForm.get('instrumentId')?.errors?.invalid">
            Please Enter a Valid Instrument ID
          </mat-error>
        </mat-form-field>
        <mat-form-field matTooltipPosition="right" [matTooltip]="orderForm.get('instrumentName')?.value"
                        appearance="outline">
          <mat-label>Instrument Name</mat-label>
          <input matInput type="text" formControlName="instrumentName">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Face Value</mat-label>
          <input matInput type="text" formControlName="faceValue">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Expire Date</mat-label>
          <input matInput type="text" formControlName="expireDate">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Price</mat-label>
          <input matInput type="text" formControlName="price">
          <mat-error *ngIf="orderForm.get('price')?.errors?.required">This Field is Required!</mat-error>
          <mat-error *ngIf="!orderForm.get('price')?.errors?.required&&orderForm.get('price')?.errors?.validPrice">
            {{orderForm.get('price')?.errors?.validPrice?.error}}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Quantity</mat-label>
          <input matInput type="text" formControlName="quantity">
          <mat-error *ngIf="orderForm.get('quantity')?.errors?.required">This Field is Required!</mat-error>
          <mat-error
            *ngIf="!orderForm.get('quantity')?.errors?.required&&orderForm.get('quantity')?.errors?.minQuantity">
            {{orderForm.get('quantity')?.errors?.minQuantity?.error}}
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-radio-group class="radio-btn" formControlName="orderDirection" aria-label="Select an option">
          <mat-radio-button value="BUY">BUY</mat-radio-button>
          <mat-radio-button value="SELL">SELL</mat-radio-button>
        </mat-radio-group>
      </div>
      <button type="submit" [disabled]="orderForm.invalid" color="primary"
              mat-raised-button>Make Transaction
      </button>
    </form>
  </div>
  <div class="mat-elevation-z3 m-3 p-5">
    <!-- <mat-list>
      <mat-list-item *ngFor="let item of history | async">
        <span>{{item.client.clientName}}</span>
        <span>{{item.instrument.instrumentName}}</span>
        <span>{{item.price}}</span>
        <span>{{item.orderDirection}}</span>
        <span>{{item.initialQuantity}}</span>
      </mat-list-item>
    </mat-list> -->
    <h1>Recent Orders</h1>
    <div class="history-card">
      <div class="stat-item stat-header">
        <span>Client</span>
        <span>Instrument</span>
        <span>Price</span>
        <span>orderDirection</span>
        <span>initialQuantity</span>
      </div>
      <div class="d-flex flex-column">
        <div class="stat-item" *ngFor="let item of history | async">
          <span [matTooltip]="item.client.clientName">{{item.client.clientName | truncate:[10]}}</span>
          <span
            [matTooltip]="item.instrument.instrumentName">{{item.instrument.instrumentName | truncate:[10]}}</span>
          <span>{{item.price}}</span>
          <span>{{item.orderDirection}}</span>
          <span>{{item.initialQuantity}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
