.idea/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*git p
capstone-project-dbs/h2db.lock.db
capstone-project-dbs/h2db.mv.db
/h2db.mv.db
/h2db.trace.db
