::ng-deep .mat-chip-list-wrapper {
  justify-content: center;
}

.list-item {
  background: red;
}

.stat-item {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  border: 1px solid;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 1px 4px 2px 0 slategrey;
}

.stat-header {
  color: white;
  background-color: #212121;
  font-weight: bold;
}
